<main class="container py-4">
<div class="row justify-content-center g-4">
<div class="col-12 col-md-6 col-lg-4">
<div class="card h-100">
<div class="card-body text-center">
<h5 class="card-title text-white">Bienvenid@ a PixelHoshi</h5>
<p class="card-text text-white">Esta es una plataforma de valoración de juegos </p><p class="text-secondary">(roles admin/usuario).</p>
<p></p>
<a class="btn btn-primary w-100" routerLink="/catalogo">Catalogo de Juegos ⭐</a>
<p></p>
<a class="btn btn-secundary w-100" routerLink="/login">Ingresar</a>
<p></p>
<a class="btn btn-outline-secondary w-100" routerLink="/registro">Registrarse</a>
</div>
</div>
</div>
</div>

</main>